@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"); /* FONTS */
/* COLORS */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #41644A;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: min(100% - 3rem, 1440px);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: #FFB742;
  font-size: 2rem;
  font-weight: 700;
}
.header__menu ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 10px;
  margin: 10px;
}
.header__menu a {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: color ease 0.3s;
}
.header__menu--active, .header__menu a:hover {
  color: #FFB742;
  border-bottom: 3px solid #FFB742;
}
.header__actions {
  display: flex;
  gap: 1.5rem;
}
.header__action {
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__action:hover {
  border-radius: 100%;
  background-color: #393646;
}
.header__action--dark-selected {
  border: none;
  border-radius: 100%;
  background-color: #9CA777;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 4rem;
  background-image: url(/images/vector1.svg) no-repeat;
}
.hero__gretting {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}
.hero__gretting span {
  color: #FFB742;
  text-decoration: underline;
}
.hero__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
}
.hero__description {
  font-size: 1.5rem;
  font-weight: 400;
}
.hero__photo {
  border-radius: 100%;
}
.hero__vector1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid red;
}
.hero__vector2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid yellow;
}
.hero__vector3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid blue;
}
.hero__vector4 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid black;
}

.stack {
  display: flex;
  gap: 1.5rem;
}
.stack__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stack__box {
  border-radius: 0.5rem;
}

.skills {
  display: flex;
  flex-direction: row;
}
.skills__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skills__tag {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  flex-shrink: 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #FFB742;
  padding: 0.5rem 0.5rem 1rem 1.5rem;
  width: 15.25rem;
  height: 3rem;
}
.skills__tittle {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  display: flex;
  width: 638px;
  height: 111px;
  flex-direction: column;
}
.skills__content {
  padding-top: 2rem;
  display: flex;
  width: 473px;
  height: 59px;
  flex-direction: column;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87rem;
  padding-bottom: 4.5rem;
}
.skills__content2 {
  padding-top: 4.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.skills__content2 a {
  transition: color ease 0.4s;
}
.skills__content2 a:hover {
  color: #FFB742;
}
.skills__list {
  display: grid;
  justify-items: stretch;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  grid-template-rows: 100px 100px 100px 100px;
  padding-bottom: 25rem;
}
.skills__box {
  background: #263A29;
  justify-content: center;
  border-radius: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.projects__tag {
  display: inline-flex;
  padding: 6px 25px;
  align-items: flex-start;
  gap: 1rem;
  color: #FFB742;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.08);
}
.projects__tittle {
  color: #FFFFFF;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 3rem;
}
.projects__tabs {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}
.projects__tab-item {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.projects__tabs a {
  transition: color ease 0.4s;
}
.projects__tabs a:hover {
  color: #FFB742;
  border-bottom: 3px solid #FFB742;
}
.projects__list {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.projects_item img:hover {
  background: white;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 17.8rem;
  gap: 2.5rem;
}
.footer__logo {
  color: #FFB742;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer__copyrigth {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}

/*# sourceMappingURL=styles.css.map */
